<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8bb9f975-052f-4f6a-a476-ff7eda1ea642/resourceGroups/DSS/providers/Microsoft.Web/sites/diversesoftwaresolutions</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://diversesoftwaresolutions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>38942203-2381-4de3-b69a-a88ecf6db55d</ProjectGuid>
    <PublishUrl>https://diversesoftwaresolutions.scm.azurewebsites.net/</PublishUrl>
    <UserName>$diversesoftwaresolutions</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>